<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>

</head>
<body ng-controller="ctl">

<ul>
    <li>苹果 <input type="text" ng-model="apple"></li>
    <li>香蕉 <input type="text" ng-model="bananer"></li>
    <li>橘子 <input type="text" ng-model="orange"></li>
</ul>
<select name="" id="" ng-model="huobi">
    <option value="rmb">人民币</option>
    <option value="dollar">美元</option>
</select>
<input type="button" ng-click="calcSum()" value="计算总价">

<script>
    var app = angular.module('myapp', []);
    app.controller('ctl', function ($scope, currencyFilter) {

        $scope.huobi = 'rmb';

        $scope.calcSum = function () {
            var sum = Number($scope.apple) + Number($scope.bananer)
                    + Number($scope.orange);
            if ($scope.huobi == 'rmb'){
                alert(currencyFilter(sum, '￥', 1));
            }else{
                alert(currencyFilter(sum*6.8, '￥', 1));
            }
        }
    })
</script>

</body>
</html>